body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%;
  max-width: 600px;
}

.container.dark {
  background-color: #444;
}

body.dark {
  background-color: #333;
  color: #fff;
}

h1 {
  text-align: center;
  color: #333;
}

.input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input:focus {
  border-color: #0070f3;
}

.container.dark .input {
  border-color: #555;
  background-color: #555;
  color: #fff;
}

.button {
  background-color: #555;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid;
}

.toggle {
  margin-top: 10px;
  background-color: #555;
}

.toggle:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid;
}

.results {
  margin-top: 20px;
}

.result-item {
  background-color: #f1f1f1;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
}

.container.dark .result-item {
  background-color: #555;
}

.result-item strong {
  color: #0070f3;
}
